.page {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #4d5ae5;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ===== HEADER ===== */

header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.head {
  background: #ffffff;
}

.head:hover {
}

.head-nav {
}

.head-nav-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}

.head-nav-link-foot {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
}

.head-nav-menu {
}
.nav-menu-item {
}

.nav-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-menu-link:hover,
.nav-menu-link:focus {
  color: #404bbf;
}

.adrs {
  font-style: normal;
}

.adrs-menu {
}
.adrs-menu-item {
}

.adrs-menu-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.adrs-menu-link:hover,
.adrs-menu-link:focus {
  color: #404bbf;
}

/* ===== MAIN ===== */
/* +++++ Container1 +++++ */
.content {
}

.quote {
  padding-bottom: 120px;
}

.quote-container {
  background: #2e2f42;
  padding: 188px 472px 292px;
}

.quote-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 32px;
  max-width: 496px;
}

.quote-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}

.quote-btn:hover,
.quote-btn:focus {
  background-color: #404bbf;
}

/* +++++ Container2 +++++ */
.desc {
  padding: 120px 156px;
}

.visually-hidden {
}

.desc-list {
}
.desc-list-item {
}

.desc-list-subject {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.desc-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* +++++ Container3 +++++ */
.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
}

.team-list-item {
  background-color: #ffffff;
}

.team-list-avatar {
}

.team-list-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-list-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* +++++ Container4 +++++ */
.portfolio {
  background-color: #f4f4fd;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}

.portfolio-list {
}

.portfolio-list-item {
}

.portfolio-list-item-picture {
}

.portfolio-list-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list-item-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===== FOOTER ===== */
.foot {
  background: #2e2f42;
}

.foot-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}

.foot-link-foot {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-transform: uppercase;
}

.foot-quote {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
